// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

h2 {
    font-weight: 600;
    border-bottom: 0.05em solid #c0c0c2;
    padding-bottom: 0.3em;
}
